.dashboard {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 2rem;
  min-height: calc(100vh - 3rem);
  margin-top: 4rem;
}

.card {
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}

.topButtonContainer {
  display: flex;
  gap: 1rem;
}

.summaryCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.card h3 {
  margin: 0;
  color: var(--text-color);
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.amount {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
}

.netWorth {
  font-size: 1.6rem;
  font-weight: bold;
  color: #28a745;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--card-bg);
  border-radius: 8px;
  text-align: center;
  border: 1px solid rgba(40, 167, 69, 0.3);
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.charts {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.chartContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.chart {
  background-color: #ffffff;
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
}

.chartContainer h3 {
  margin: 0;
  color: var(--text-color);
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

@media (max-width: 1145px) {
  .summaryCards {
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .chartContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (max-width: 650px) {
  .topButtonContainer {
    flex-direction: column;
  }
}

@media (max-width: 525px) {
  .netWorth {
    font-size: 22px;
  }
}

@media (max-width: 485px) {
  .netWorth {
    font-size: 20px;
  }

  .topContainer {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
}
